on:
  push:
    branches:
      - main

name: Build, test, release

env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: whop

concurrency:
  group: 'release'
  cancel-in-progress: false

permissions:
  pull-requests: write
  contents: write
  id-token: write

jobs:
  release:
    name: Publish to npm and release on github
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Check package.json for version increase
        id: check
        uses: ./
        with:
          action: check
          token: ${{ github.token }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        if: steps.check.outputs.can-publish == 'true'

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          check-latest: true
          cache: pnpm
          registry-url: https://registry.npmjs.org
        if: steps.check.outputs.can-publish == 'true'

      - name: Update npm for OIDC trusted publishing
        run: npm install -g npm@latest
        if: steps.check.outputs.can-publish == 'true'

      - name: Install dependencies
        run: pnpm i
        if: steps.check.outputs.can-publish == 'true'

      - name: Build
        run: pnpm turbo build
        if: steps.check.outputs.can-publish == 'true'

      - name: Run turbo release flow
        run: pnpm turbo release ${{ steps.check.outputs.filter }}
        if: steps.check.outputs.can-publish == 'true'

      - name: Github Release
        id: release
        uses: ./
        with:
          action: release
          token: ${{ github.token }}
          version: ${{ steps.check.outputs.version }}
        if: steps.check.outputs.can-publish == 'true'

      - name: Sync auto-release PRs
        uses: ./
        with:
          action: sync
          token: ${{ github.token }}
          published: ${{ steps.release.outputs.published }}
